.add_question_container {
  position: sticky;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
}

.add_question_text {
  min-width: 240px;
  color: #3f4064;
  font-size: 10px;
  font-weight: 400;
  line-height: 2.17;
  margin-top: 28px;
  margin-bottom: 20px;
  text-align: right;
}

.add_question_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  position: relative;
  border: 1px solid #ef4056;
  color: #ef4056;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  border-radius: 8px;
  margin-top: 8px;
}

.questions_container {
  width: 100%;
  margin-right: 40px;
}

.no_question_container {
  width: 100%;
  margin-right: 40px;
  text-align: right;
}

.no_question_title {
  font-size: 15px;
  font-weight: 700;
  line-height: 2.15;
  color: #0c0c0c;
}

.no_question_textarea_container {
  height: auto;
  border: 1px solid #c0c2c5;
  background-color: #fff;
  border-radius: 8px;
  padding: 0 8px;
}

.no_question_textarea {
  width: 100%;
  height: 104px;
  font-size: 15px;
  font-weight: 400;
  line-height: 2.15;
  padding: 8px 12px;
  background-color: transparent;
  border-radius: 8px;
  color: #3f4064;
  border: none;
  resize: none;
  overflow: hidden;
}

.no_question_textarea:placeholder-shown {
  color: #c0c2c5 !important;
}

.no_question_textarea_counter {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  color: #a1a3a8;
  text-align: right;
}

.question_submit_btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #ef4056;
  border: 1px solid #ef4056;
  color: #fff;
  box-shadow: none;
}

.question_submit_disabled_btn {
  background-color: #e0e0e2 !important;
  border: 1px solid #e0e0e2 !important;
}

.no_question_rules_text {
  font-size: 10px;
  font-weight: 400;
  line-height: 2.17;
  text-align: center;
  margin-top: 8px;
}

.no_question_rules_link {
  margin: 0 4px;
  color: #1672dd;
}
