.form_header {
  position: relative;
}

.page_title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 16px;
}

.reset_login {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.arrow_icon {
  width: 24px;
  height: 24px;
  color: #81858b;
  cursor: pointer;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logo {
  width: 162px;
  height: 25px;
}
