.product_link {
  display: flex;
  width: 100%;
  gap: 12px;
  border: 1px solid #e0e0e2;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  margin: 0 16px;
  border-radius: 8px;
  overflow: hidden;
}

.product_img_bg {
  min-width: 72px;
  background-color: #f0f0f1;
  border-radius: 8px;
  overflow: hidden;
}

.product_img_container {
  width: 72px;
  max-width: 72px;
  height: 72px;
  line-height: 0;
  mix-blend-mode: multiply;
}

.product_img {
  display: inline-block;
  width: 100%;
  object-fit: contain;
}

.product_infos_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.product_title {
  width: 100%;
  height: 44px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
  color: #424242;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product_price_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 24px;
  gap: 4px;
}

.product_price__discount_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  width: 34px;
  padding: 0 4px;
  border-radius: 16px;
  background-color: #d32f2f;
  color: #fff;
}

.product_price__discount {
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
}

.product_price {
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
  color: #c0c2c5;
  text-decoration-line: line-through;
}

.product_final_price {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1;
  color: #23254e;
  margin-left: 2px;
}

.product_price_icon {
  width: 16px;
  height: 16px;
  fill: #424750;
}

@media screen and (max-width: 360px) {
  .product_title {
    font-size: 9.6px;
    line-height: 17.28px;
  }

  .product_price__discount,
  .product_price {
    font-size: 8.8px;
  }

  .product_final_price {
    font-size: 12.8px;
  }
}
