.modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 2;
  opacity: 1;
  transition-duration: 0.3s;
}

.header_back_icon_container,
.header_close_icon_container {
  display: flex;
  cursor: pointer;
}

.header_back_icon_container {
  visibility: hidden;
}

.header_close_icon_container {
  visibility: visible;
}

.header_icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  cursor: pointer;
}

.gallery_header {
  display: flex;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  border-radius: 12px;
  touch-action: none;
  overflow: hidden;
}

.gallery_header_item {
  display: flex;
  position: relative;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: normal;
  line-height: 2.15;
  font-size: 14px;
  user-select: none;
  touch-action: none;
  cursor: pointer;
}

.gallery_header_item:first-child::before {
  display: none;
}

.gallery_header_item::before {
  content: "";
  position: absolute;
  display: block;
  height: 20px;
  width: 1px;
  background-color: hsla(0, 0%, 100%, 0.25);
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  line-height: 2.15;
  color: #fff;
  user-select: none;
  cursor: pointer;
}

.gallery_header__active_item::after {
  position: absolute;
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  border-radius: 8px;
  opacity: 1;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  transition: 0.3s;
  height: 6px;
  outline: 4px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  top: calc(100% + 5px);
}

.gallery_header_item.gallery_header__active_item::after {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .gallery_header_item {
    font-size: 12px;
    padding: 0 12px;
  }
}

@media screen and (max-width: 360px) {
  .gallery_header_item {
    font-size: 9.6px;
  }
}
