.gallery_swiper {
  width: auto !important;
  overflow: hidden !important;
}

.thumbnail_slide {
  width: auto !important;
  height: auto !important;
}

.thumbnail_slides_container {
  display: flex;
  min-width: 0;
  margin-left: 8px;
  margin-right: 8px;
  gap: 1px;
  border-radius: 8px;
  padding: 1px;
  overflow: hidden;
}

.gallery_footer__active:before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 5px;
  border-radius: 8px;
  outline: 4px solid rgba(12, 12, 12, 0.5);
  background-color: #fff;
  right: 50%;
  top: 100%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  transition: 0.3s;
  z-index: 3;
  cursor: pointer;
}

.gallery_footer__play_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  border-radius: 50%;
  padding: 4px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.467);
  z-index: 1;
}

.play_icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
}

.rounded_r {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rounded_l {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.thumbnail_slide_img {
  display: inline-block;
  object-fit: cover;
  aspect-ratio: auto 70 / 70;
  width: 70px;
  height: 70px;
  line-height: 0;
  cursor: pointer;
}

.gallery_footer_btn_container {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 2.17;
  border-radius: 8px;
  width: 60px;
  min-width: 60px;
  margin-right: 20px;
  margin-left: 12px;
}

.gallery_footer_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 12px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  gap: 4px;
}

.gallery_footer_btn_icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.gallery_footer_btn_text {
  font-size: 12px;
  font-weight: 400;
  line-height: 12.5px;
  color: #fff;
  text-align: center;
}
