.plans_container {
  display: flex;
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;
}

.plan_container {
  position: relative;
  min-width: 160px;
  margin-top: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.active_plan_container {
  position: relative;
  min-width: 160px;
  margin-top: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.first_plan {
  margin-top: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.last_plan {
  margin-top: 16px;
  margin-right: 8px;
  margin-left: 16px;
}

.plan_border {
  background: #e0e0e2;
  border-radius: 9px;
  padding: 1px;
}

.plan_border__selected {
  background: linear-gradient(
    45deg,
    rgba(16, 40, 255, 80%) 20%,
    rgba(177, 43, 164, 80%) 60%
  );
  border-radius: 10px;
  padding: 2px;
}

.plan {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 12px;
  box-shadow:
    0 1px 0 #00000024,
    0 2px 0 #0000000d;
  cursor: pointer;
}

.plan__selected {
  background-image: linear-gradient(
    45deg,
    rgba(16, 40, 255, 5%) 20%,
    rgba(177, 43, 164, 5%) 60%
  ) !important;
  padding: 15px 11px;
}

.plan_recommended {
  position: absolute;
  right: 50%;
  top: -10px;
  display: flex;
  align-items: center;
  height: 20px;
  background-image: linear-gradient(
    45deg,
    rgba(16, 40, 255, 80%) 20%,
    rgba(177, 43, 164, 80%) 60%
  );
  transform: translate(50%);
  font-size: 11px;
  font-weight: 700;
  line-height: 2.17;
  white-space: nowrap;
  color: #fff;
  padding: 0 8px;
  border-radius: 16px;
}

.plan_title_container {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  white-space: nowrap;
}

.plan_title {
  font-size: 22px;
  font-weight: 500;
  line-height: 27.5px;
  color: #424750;
}

.plan_subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #81858b;
  margin-bottom: 12px;
  white-space: nowrap;
}

.plan_discount_container {
  display: flex;
  align-items: center;
  margin: 4px;
}

.plan_discount_badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #fff;
  background-color: #d32f2f;
  border-radius: 16px;
  padding: 0 8px;
}

.plan_old_price {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #a1a3a8;
  text-decoration-line: line-through;
  margin-right: 8px;
}

.plan_price {
  font-size: 22px;
  font-weight: 500;
  line-height: 27.5px;
  color: #424750;
  margin-left: 4px;
}

.price_icon {
  width: 16px;
  height: 16px;
  fill: #424750;
}

@media screen and (max-width: 360px) {
  .plan_title,
  .plan_price {
    font-size: 17.6px;
    line-height: 22px;
  }

  .plan_subtitle {
    font-size: 9.6px;
    line-height: 12px;
  }

  .plan_discount_badge {
    font-size: 8.8px;
    line-height: 11px;
  }

  .plan_old_price {
    font-size: 11.2px;
    line-height: 14px;
  }
}
