.breadcrumb_link {
  display: inherit;
  color: inherit;
  justify-content: inherit;
  align-items: inherit;
  text-decoration: none;
}

.breadcrumb_link_text {
  font-size: 14px;
  font-weight: 700;
  line-height: 2.15;
  color: #1672dd;
  margin-bottom: 0;
}

.divider_icon {
  margin: 0 8px;
  color: #c0c2c5;
}
