.questions_container {
  background-color: #fff;
  border: 1px solid #e0e0e2;
  border-radius: 8px;
  overflow: hidden;
}

.question_short_answer_link {
  margin-top: 8px;
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
}

/*  */

.questions_container :global(.MuiCollapse-root) {
  padding-bottom: 16px !important;
}

.questions_container :global(.MuiTypography-root) {
  width: 100%;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 2.15 !important;
  margin-bottom: 0;
  padding: 0 !important;
}

.questions_container :global(.MuiTypography-root) > p > span {
  width: 100%;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 2.15 !important;
  color: #81858b !important;
  margin-bottom: 0;
  padding: 0 !important;
}

.questions_container :global(.MuiAccordionSummary-content) {
  margin: 0 !important;
}

.questions_container :global(.MuiPaper-root:first-child::before) {
  opacity: 0 !important;
}

.arrow_icon {
  width: 24px;
  height: 24px;
  fill: #424750;
}

/* Accoordion */

.questions_container :global(.MuiAccordionSummary-expandIconWrapper) {
  margin-right: 8px !important;
}

.questions_container :global(.MuiAccordionDetails-root) {
  min-height: 0 !important;
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
  color: #3f4064 !important;
  padding: 0 !important;
  margin-top: 4px !important;
  overflow: hidden !important;
}

.questions_container :global(.MuiAccordionSummary-root) {
  padding: 0 !important;
  min-height: auto !important;
}

.questions_container:global(.MuiAccordionSummary-content) {
  display: block;
  margin: 0 !important;
  padding-bottom: 8px !important;
}

.questions_container :global(.MuiAccordion-root) {
  box-shadow: none !important;
  padding: 16px 16px 0 !important;
}

.questions_container :global(.MuiButtonBase-root) {
  padding: 0 !important;
}

.questions_container :global(.MuiAccordionSummary-root.Mui-expanded) {
  padding: 0 !important;
  padding-bottom: 16px !important;
}

.questions_container :global(.MuiAccordionSummary-content) {
  margin: 0 !important;
}

.questions_container :global(.MuiPaper-root:first-child::before) {
  opacity: 0 !important;
}

.questions_container:global(.MuiSvgIcon-root) {
  fill: #ef4056 !important;
}

@media screen and (max-width: 1024px) {
  .questions_container :global(.MuiTypography-root) {
    font-size: 13px !important;
  }

  .questions_container :global(.MuiTypography-root) > p > span {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 360px) {
  .questions_container :global(.MuiTypography-root) {
    font-size: 10.4px !important;
  }

  .questions_container :global(.MuiTypography-root) > p > span {
    font-size: 9.6px !important;
  }

  .questions_container :global(.MuiAccordionDetails-root) {
    font-size: 10px;
  }
}
