.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background: linear-gradient(
    225deg,
    rgb(210, 44, 78) 0%,
    rgb(238, 56, 78) 100%
  );
  border-radius: 16px;
  margin-top: 16px;
  overflow: hidden;
}

.header_box_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
  flex-shrink: 0;
  gap: 24px;
  padding: 12px 20px 20px;
}

.header_box_timer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.header_box_logo_container {
  width: 64px;
  height: 64px;
  line-height: 0;
}

.header_box_img_container {
  width: 126px;
  height: 28px;
  line-height: 0;
}

.header_box_logo,
.header_box_img {
  display: inline-block;
  width: 100%;
  object-fit: contain;
}

.slider_container {
  position: relative;
  flex: 1;
  padding: 20px 0;
  overflow: hidden;
}

.amazing_slide {
  width: auto !important;
  height: auto !important;
}

.slide_link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: auto 20px auto 8px;
}

.see_all_btn {
  position: relative;
  cursor: pointer;
  background: 0 0;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  transition: transform 50ms ease-out;
  overflow: hidden;
}

.btn_content_container {
  border-radius: 7px;
  background: rgb(242, 243, 245);
  padding: 4px 8px;
  height: 32px;
}

.btn_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.04);
  opacity: 0;
  transition: opacity 0.2s;
}

.see_all_btn:hover .btn_content {
  opacity: 1;
}

.see_all_text {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 16.8px;
  color: rgb(51, 51, 51);
  padding: 2px 6px 0px;
  direction: rtl;
  text-align: right;
}

.arrow_icon_container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 16px;
  width: 16px;
}

.arrow_icon {
  width: 100%;
  height: 100%;
  fill: #333;
}

.amazing_last_slide {
  width: auto;
  height: auto;
}

.show_all_card_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
  min-width: 160px;
  max-width: 160px;
  height: 100%;
  background-color: #fff;
  padding: 0 32px;
  border-radius: 8px 0 0 8px;
}

.show_all_incredible_offers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.see_all_link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.amazing_see_all_btn_icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
}

.show_all_card__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  color: #3f4064;
}

.slider :global(.amazing__next-button-selector),
.slider :global(.amazing__next-button-selector),
.slider :global(.amazing__prev-button-selector),
.slider :global(.amazing__prev-button-selector) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #f0f0f1;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
}

.slider :global(.amazing__next-button-selector.swiper-button-disabled),
.slider :global(.amazing__prev-button-selector.swiper-button-disabled) {
  opacity: 0 !important;
}

.slider :global(.amazing__next-button-selector) {
  left: 8px;
}

.slider :global(.amazing__prev-button-selector) {
  right: 8px;
}

.swiper_btn_icon {
  width: 24px;
  height: 24px;
  fill: #424750;
  opacity: 0.7;
  cursor: pointer;
}

.swiper_btn_icon:hover {
  opacity: 1;
}

.padding_left {
  padding-left: 20px;
  height: 100%;
}

.padding_right_slide {
  padding-right: 8px;
  flex-shrink: 1;
}

.mobile_products_container {
  display: flex;
  width: 100%;
  gap: 2px;
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;
}

.paddingRight {
  padding-right: 8px;
}

.product_link {
  position: relative;
  display: block;
  width: 160px;
  min-width: 160px;
  max-width: 160px;
  height: 100%;
  background-color: #fff;
  padding: 12px 16px;
  overflow: hidden;
  cursor: pointer;
}

.rounded_r_md {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.product_img_container {
  width: 132px;
  height: 132px;
  line-height: 0;
}

.see_all_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 12px;
}

.see_all_icon {
  width: 20px;
  height: 20px;
  fill: #424750;
}

@media screen and (min-width: 1024px) {
  .content {
    width: 100%;
    max-width: 1336px;
    margin: 24px auto 0;
    padding: 0 16px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
    margin: 16px auto;
  }

  .slider_container {
    padding: 12px 0;
  }

  .amazing_slider {
    margin-top: 4px;
  }

  /* .product_link {
    width: 216px;
    min-width: 216px;
    max-width: 216px;
    padding: 12px;
  } */

  .amazing_container {
    padding: 12px 0;
  }

  .product_img_container {
    width: 128px;
    height: 128px;
  }

  .mobile_amazing_see_all_link {
    display: flex;
  }

  .mobile_amazing_see_all_link {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 20px 16px 12px;
    touch-action: pan-y;
  }

  .show_all_incredible_offers {
    flex-direction: row;
    gap: 8px;
  }

  .slider :global(.amazing__next-button-selector),
  .slider :global(.amazing__prev-button-selector) {
    display: none;
  }

  .amazing_last_slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    background-color: #fff;
    padding: 0 32px;
    margin-left: 20px !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

@media screen and (max-width: 360px) {
  .index_amazing_container {
    padding-right: 0 !important;
  }

  .index_incredible_offers_firstSlide_responsive {
    padding: 20px 20px 12px !important;
  }

  .incredibleOffers_swiper__container {
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .show_all_card__text {
    font-size: 9.6px;
  }

  .show_all__text {
    font-size: 10px;
  }

  .main_slider {
    padding: 12px 0;
  }

  .index_amazing_see_all_btn {
    margin-top: 4px;
    font-size: 10px;
  }
}
