.sheet :global(.react-modal-sheet-backdrop) {
  background-color: rgba(0, 0, 0, 0.5);
}

.sheet :global(.react-modal-sheet-container) {
  max-width: 400px;
  padding: 0 16px 12px;
  box-shadow: none !important;
  right: 0px;
  margin-inline: auto;
  height: auto;
  max-height: calc(100% - env(safe-area-inset-top) - 34px);
}

.sheet :global(.react-modal-sheet-drag-indicator-container) {
  display: flex;
  background: rgb(221, 221, 221);
}

.header_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header_title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 20px;
}

.header_space {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 25.5px;
  color: #5c5c5c;
  padding: 4px 0;
}

.content_title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.8;
  color: #848484;
}

.content_btns {
  display: flex;
  gap: 8px;
  padding: 12px 0;
}

.content_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  min-width: calc(50% - 4px);
  border-radius: 8px;
  cursor: pointer;
}

.confirm_btn {
  color: #fff;
  background-color: #ed1944;
}

.cancle_btn {
  color: #000;
  background-color: rgb(236 237 239);
}

.content_btn_text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 17.5px;
}
