.product_content {
  border-bottom: 4px solid #f0f0f1;
  margin-top: 16px;
  padding-bottom: 20px;
}

.product_content_short_review {
  font-weight: 400;
  line-height: 2.15;
  font-size: 14px;
  color: #23254e;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: auto;
  transition: all 0.3s ease;
}

.product_content_title_container {
  overflow-wrap: break-word;
  padding: 12px 0;
}

.product_content_title {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1;
  color: #0c0c0c;
  flex-grow: 1;
  text-align: right;
}

.product_content_title_line {
  width: 70px;
  height: 2px;
  margin-top: 8px;
  background-color: #ef394e;
}

.product_content_short_review.expanded {
  -webkit-line-clamp: unset;
  line-clamp: 3;
  overflow: visible;
  text-align: right;
}

.product_content_more_detial {
  display: flex;
  align-items: center;
  color: #1672dd;
  margin-top: 8px;
  margin-bottom: 12px;
  padding-right: 0;
}

.product_content_more_detail_btn {
  display: inline-flex;
  align-items: center;
  color: #1672dd;
  font-size: 12px;
  font-weight: normal;
  line-height: 2.17;
  cursor: pointer;
}

.product_content_more_detail_icon {
  width: 18px;
  height: 18px;
  fill: #1672dd;
}

.shortReview_container {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  margin-top: 16px;
}

.shortReview_item {
  max-width: 33%;
}

.shortReview_item_right {
  padding-top: 16px;
  flex-grow: 1;
  flex-shrink: 0;
}

.shortReview_box_container {
  width: 100%;
  display: block;
  align-items: center;
  border-radius: 8px;
  padding-bottom: 4px;
}

.shortReview_box_title {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  color: #3f4064;
  margin-left: 16px;
}

.spec_rating__bar {
  min-width: 140px;
  height: 10px;
  width: 100%;
  border-radius: 8px;
  margin-left: 8px;
  background-color: #f0f0f1;
}

.spec_rating__barProgress {
  position: relative;
  right: 0;
  height: 100%;
  background-color: #1672dd;
  border-radius: 16px;
}

.spec_rating__text {
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
}

.shortReview_item_left {
  flex-grow: 1;
  flex-shrink: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 16px;
  margin-right: 20px;
  border-right: 1px solid #f0f0f1;
}

.properties_advantages_title {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.15;
  color: #00a049;
  margin-bottom: 12px;
}

.properties_advantages_icon_container {
  display: flex;
  margin-left: 8px;
  color: #00a049;
}

.properties_advantages_icon {
  width: 12px;
  height: 12px;
  font-size: 12px;
  font-weight: normal;
  color: #00a049;
  cursor: pointer;
}

.properties_advantage_text {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  color: #3f4064;
}

.product_content_title_caption {
  color: #81858b;
  font-weight: 400;
  line-height: 2.17;
  font-size: 11px;
}

.product_content_title_btn {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  color: #1672dd;
  cursor: pointer;
}

.product_content_ad_icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #ff009c;
}
