.noUi-target {
  height: 5px !important;
  border-radius: 3px !important;
  background: #e0e0e2 !important;
  box-shadow: none !important;
  border: none !important;
}

.noUi-connects {
  border-radius: 3px !important;
}

.noUi-connect {
  background: #1672dd !important;
}

.noUi-horizontal .noUi-handle {
  width: 20px !important;
  height: 20px !important;
  top: -7px !important;
  right: -11px !important;
  border: none !important;
  border-radius: 100% !important;
  background: #1672dd !important;
  box-shadow: none !important;
}

.noUi-handle::before,
.noUi-handle::after,
.noUi-value-large {
  display: none !important;
}

.noUi-pips {
  height: 0 !important;
}

.noUi-marker,
.noUi-marker-horizontal.noUi-marker-large {
  width: 2px !important;
  height: 5px !important;
}

.noUi-marker-large {
  background: #ccc !important;
}
