.info_section_left_container {
  min-width: 0;
  flex-grow: 1;
}

.info_section_left {
  display: grid;
  grid-template-columns: minmax(300px, auto) minmax(300px, 345px);
  grid-template-rows: auto 0fr auto 1fr;
  grid-template-areas: "variant-info buy-box" "fidibo-audio-preview buy-box" "spec buy-box" "touchPoints buy-box";
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 20px;
  }

  .infoSection_left {
    grid-template-areas:
      "variant-info"
      "fidibo-audio-preview"
      "spec"
      "buy-box"
      "touchPoints";
  }
}
