.promotion_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 2.1;
  font-weight: 400;
  padding: 8px 20px;
  gap: 12px;
}

.logo_img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 139px;
  height: 16px;
  line-height: 0;
  margin-left: 8px;
}

.logo_img {
  display: inline-block;
  width: 100%;
  object-fit: contain;
}

.promotion_sold_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  gap: 8px;
}

.promotion_sold_percent_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
  color: #81858b;
}

.promotion_sold_percent {
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  margin-left: 2px;
}

.promotion_timeline_progress {
  display: block;
  border-radius: 8px;
  height: 4px;
  flex-grow: 1;
}

.promotion_timeline_progress__active {
  position: relative;
  display: block;
  border-radius: 8px;
  height: 4px;
}

.space {
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background-color: rgba(129, 133, 139, 0.2);
}

.timer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.promotion_timer {
  width: 75px;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.promotion_timer_icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: normal;
}
