.loading_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.loading_container {
  margin: 80px 0;
}

.list_empty_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin: 40px 0;
}

.list_empty_title {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.15;
  color: #0c0c0c;
  margin-bottom: 32px;
}

.list_empty_img_container {
  width: 256px;
  height: 190px;
  line-height: 0;
}

.list_empty_img {
  display: inline-block;
  width: 100%;
  object-fit: contain;
}

.list_empty_title {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  color: #81858b;
}

@media screen and (max-width: 1024px) {
  .list_empty_container {
    margin: 0;
    padding: 80px 0;
  }

  .list_empty_title {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .list_empty_title {
    font-size: 9.6px;
  }
}
