.sheet [data-rsbs-header] {
  padding-top: 12px;
  box-shadow: none;
}

.header {
  font-size: 16px;
  font-weight: 700;
  line-height: 2.1;
}

.close_btn_container {
  display: flex;
  align-items: center;
  height: 56px;
  gap: 4px;
  margin-top: 4px;
}

.close_btn {
  padding: 12px 0 12px 12px;
}

.close_icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: normal;
  color: rgb(51, 51, 51);
}

.header_title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 21.6px;
  color: rgb(31, 31, 31);
  direction: rtl;
  text-align: right;
  padding-top: 1px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 20px 4px;
}

.item_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.item_title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 25.2px;
  color: rgb(31, 31, 31);
  direction: rtl;
  text-align: right;
  padding-top: 5px;
}

.item_subtitle,
.item_color {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 21.6px;
  color: rgb(51, 51, 51);
  direction: rtl;
  text-align: right;
}

.dot_icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: normal;
  color: #c0c2c5;
}

.divider_container {
  margin: 12px 32px 4px -20px;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.divider_line {
  flex-shrink: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(236, 237, 239);
}

.footer {
  display: flex;
  align-items: center;
  height: 72px;
}

.footer_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 8px;
  border: 1px solid rgb(237, 25, 68);
  cursor: pointer;
}

.footer_btn_text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 18.9px;
  color: rgb(237, 25, 68);
  direction: rtl;
  text-align: right;
}

.disabled_btn {
  opacity: 0.5;
}

@media screen and (max-width: 360px) {
  .layout {
    padding-top: 88px;
  }

  .header_container {
    padding: 16px 16px 8px;
  }

  .item_title {
    font-size: 14px;
    line-height: 25.2px;
  }

  .item_subtitle {
    font-size: 12px;
    line-height: 21.6px;
  }
}
