.modal_layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 80vw;
  min-width: 460px;
  background-color: #fff;
  padding-top: 66px;
  overflow-y: hidden;
}

.modal_header {
  border-radius: 8px;
  width: 100%;
  height: 66px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 20px;
  z-index: 1;
}

.modal_header_title {
  font-size: 15px;
  font-weight: 700;
  line-height: 2.17;
  color: #0c0c0c;
  word-wrap: break-word;
}

.modal_header__title {
  flex-grow: 1;
  overflow-wrap: break-word;
  padding: 12px 0;
}

.modal_header__title_text {
  font-size: 16px;
  font-weight: 700;
  line-height: 2.1;
  color: #0c0c0c;
}

.modal_close_btn {
  width: 24px;
  height: 24px;
  fill: #424750;
  cursor: pointer;
}

.modal_content_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 20px;
}

.modal_content_list_item {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-bottom: 4px;
}

.digikala_delivery_icon,
.jet_delivery_icon,
.seller_delivery_icon {
  width: 24px;
  height: 24px;
}

.digikala_delivery_icon {
  fill: #e6123d;
}

.jet_delivery_icon {
  fill: #1028ff;
}

.seller_delivery_icon {
  fill: #d86b00;
}

.modal_content_list_item_title_container {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1;
}

.modal_content_list_item_title {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.modal_content_list_item_title_text {
  font-size: 14px;
  font-weight: 700;
  line-height: 2.1;
  color: #0c0c0c;
}

.method_price_text_container {
  display: flex;
  align-items: center;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.15;
  color: #424242;
}

.bulet_icon {
  color: #81858b;
  margin: 0 4px;
}

.method_price_value {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.price_icon_container {
  display: flex;
  margin-right: 2px;
}

.price_icon {
  width: 16px;
  height: 16px;
  fill: #424750;
}

.modal_content_list_item_title_subText {
  font-size: 14px;
  font-weight: 700;
  line-height: 2.15;
  color: #424242;
}

.modal_content_list_item_subtitle {
  font-size: 15px;
  font-weight: 700;
  line-height: 2.15;
}

.modal_content_list_item_subtitle {
  font-size: 12px;
  font-weight: 700;
  line-height: 2.17;
  color: #3f4064;
}

.close_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.1;
  padding: 12px 0;
  margin-top: 20px;
  background-color: #f0f0f1;
  border-radius: 16px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .modal_layout {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-top: 62px;
  }

  .modal_header {
    height: 62px;
  }

  .modal_header__title_text,
  .close_btn {
    font-size: 14px;
  }

  .close_btn {
    margin-top: 0;
  }

  .modal_content_list_item_title_container {
    font-size: 12px;
    line-height: 15px;
  }

  .modal_content_list_item_title_text,
  .modal_content_list_item_title_subText {
    font-size: 12px;
    line-height: 2.15;
  }

  .digikala_delivery_icon,
  .jet_delivery_icon,
  .seller_delivery_icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 360px) {
  .modal_layout {
    padding-top: 57px;
    min-width: 100%;
  }

  .modal_header {
    height: 57px;
  }

  .modal_header__title_text,
  .close_btn {
    font-size: 11.2px;
  }

  .modal_content_container {
    padding: 16px;
    padding-bottom: 20px;
  }

  .modal_content_list_item_title_subText,
  .modal_content_list_item_subtitle,
  .modal_content_list_item_subtitle .modal_content_list_item_subtitle_text,
  .modal_content_list_item_title_text {
    font-size: 9.6px;
  }

  .modal_content_list_item_title_container {
    font-size: 9.6px;
    line-height: 12px;
  }
}
