.rule_item_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
}

.rule_icon_container {
  position: relative;
  padding-top: 8px;
}

.rule_icon_bg {
  display: flex;
  padding: 8px;
  background-color: #f0f0f1;
  border-radius: 50%;
}

.rule_icon,
.chevron_icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: normal;
  color: #424750;
}

.rule_title_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  padding: 16px 0;
}

.border_bottom {
  border-bottom: 1px solid #f0f0f1;
}

.rule_title {
  font-size: 12px;
  font-weight: 700;
  line-height: 21.6px;
}

.rule_description {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.15;
  color: #81858b;
  padding-left: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.content_box {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.15;
  color: #81858b;
  padding-left: 20px;
}

@media screen and (max-width: 360px) {
  .rule_title {
    font-size: 9.6px;
    line-height: 17.28px;
  }

  .rule_description {
    font-size: 9.6px;
  }
}
