.empty_productlist_wrapper {
  grid-column: 1 / -1;
}

.empty_productlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px 12px;
}

.not_found_img_container {
  position: relative;
  width: 236px;
  height: auto;
  line-height: 0;
  margin-bottom: 20px;
}

.not_found_img {
  width: 236px;
  height: 177px;
  display: inline-block;
  object-fit: contain;
}

.not_found_text_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  padding: 16px 20px;
  border: 1px solid #e0e0e2;
  border-radius: 8px;
}

.not_found_text {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 2.15;
  color: #3f4064;
}

.not_found_icon_container {
  display: flex;
  margin-left: 16px;
}

.not_found_icon {
  width: 20px;
  height: 20px;
  fill: #f9a825;
}

.not_found_subtext {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  color: #81858b;
  margin-right: 36px;
}

@media screen and (max-width: 1024px) {
  .not_found_text {
    font-size: 13px;
  }

  .not_found_img {
    width: 200;
    height: 150;
  }
}
