.content {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 0 16px;
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 32.5px;
  color: #424750;
  text-align: center;
  margin-bottom: 32px;
}

.servises_container {
  width: auto;
  margin: 0 auto;
}

.servise_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 16px 40px;
}

.servise_img_container {
  width: 104px;
  height: 104px;
  line-height: 0;
  margin-bottom: 16px;
}

.servise_img {
  display: inline-block;
  width: auto;
  object-fit: contain;
}

.servise_infos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.servise_infos_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #424750;
  text-align: center;
  margin-bottom: 4px;
}

.servise_infos_subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.15;
  color: #81858b;
}

.service_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.17;
  color: #b12ba4;
  margin-top: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.service_btn_text {
  display: flex;
}

.service_icon_container {
  display: flex;
}

.service_icon {
  width: 20px;
  height: 20px;
  fill: #b12ba4;
}

@media screen and (max-width: 1024px) {
  .servises_container {
    width: 100%;
  }

  .servises_container {
    width: 100%;
  }

  .servise_item {
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #e0e0e2;
    border-radius: 8px;
    grid-column-start: auto;
    grid-column-end: auto;
    margin: 0;
    padding: 16px 12px 16px 8px;
  }

  .service_btn_text {
    display: none;
  }

  .title {
    font-size: 22px;
    line-height: 27.5px;
  }

  .service_container {
    gap: 12px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .service_box {
    margin: 0;
  }

  .servise_img_container {
    width: 48px;
    height: 48px;
  }

  .servise_infos {
    margin-right: 8px;
  }

  .servise_infos_title {
    text-align: right;
    font-size: 14px;
    line-height: 17.5px;
  }

  .servise_infos_subtitle {
    font-size: 12px;
    text-align: right;
  }
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 17.6px;
    line-height: 22px;
  }

  .servise_infos_title {
    font-size: 11.2px;
    line-height: 14px;
  }

  .servise_infos_subtitle {
    font-size: 9.6px;
  }
}
