.content :global([data-rsbs-overlay]),
.content :global([data-rsbs-backdrop]),
.content :global([data-rsbs-root]:after) {
  z-index: 5 !important;
}

.content :global([data-rsbs-header]) {
  flex-shrink: 0;
  text-align: center;
  padding: 20px 16px 8px !important;
  user-select: none;
  z-index: 1;
  cursor: ns-resize;
  box-shadow: 0 1px 0 rgba(46, 59, 66, calc((1, 1) * 0.125)) !important;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
  gap: 12px;
}

.header_title {
  font-size: 14px;
  font-weight: 700;
  line-height: 2.1;
  color: #3f4064;
}

.close_icon {
  height: 24px;
  font-size: 24px;
  font-weight: normal;
  color: #424750;
  cursor: pointer;
}

.content_container {
  background-color: #fff;
  padding: 16px;
}

.content {
  width: 100%;
  margin-bottom: 12px;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.footer_btn {
  position: relative;
  display: flex;
  height: 40px;
  flex: 1 1 0%;
  align-items: center;
  user-select: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.15;
  padding: 8px 16px;
  outline: none;
  overflow: hidden;
  transition: top 0.3s ease-in-out;
}

.footer_active_btn {
  background-color: #ef4056;
  color: #fff;
  border: 1px solid #ef4056;
}

.loading_active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.footer_btn_text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.remove_filter_disabled_btn {
  color: #ef4056;
  opacity: 0.3;
}

.remove_filter_btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  color: #ef4056;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.15;
  box-shadow: none;
}

.btn_content_loading {
  top: 200%;
  visibility: hidden;
}

@media screen and (max-width: 360px) {
  .header_title,
  .footer_btn,
  .remove_filter_btn {
    font-size: 11.2px;
  }
}
