.container {
  flex: 1 1 0%;
  margin: 16px;
}

.content_container {
  width: 100%;
  max-width: 1336px;
  padding: 0 8px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #f0f0f1;
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
}

.side_panel {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 0;
  max-height: 336px;
  padding: 32px 40px;
  background-color: #fff;
}

.side_panel_title {
  font-size: 21px;
  font-weight: 500;
  line-height: 2.1;
  color: #23254e;
  text-align: right;
  margin-bottom: 20px;
}

.side_panel_description {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.15;
  color: #3f4064;
  text-align: right;
  margin-bottom: 16px;
  overflow: hidden;
}

.side_panel_options {
  display: flex;
  flex-direction: column;
  color: #3f4064;
}

.side_panel_option {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.15;
  text-align: right;
  color: #3f4064;
  margin-bottom: 8px;
  list-style: none;
}

.side_panel_action_btn {
  display: inherit;
  color: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.side_panel_action_link {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  max-width: 300px;
  min-height: 48px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.15;
  color: #ef4056;
  padding: 12px 16px;
  background-color: transparent;
  border: 1px solid #ef4056;
  border-radius: 8px;
  user-select: none;
}

/* Swiper Styles */

.slider {
  height: 100%;
  padding-bottom: 0px;
  max-height: 347px;
}

.headline_slide {
  width: 100% !important;
  height: 100% !important;
}

.slider :global(.slider_pagination) {
  position: absolute;
  bottom: 16px;
  left: auto;
  right: 67px;
  opacity: 0.9;
  z-index: 2;
  transform: translateX(50%);
}

.slider :global(.headline_pagination) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media_img_container {
  height: 100%;
  line-height: 0;
  cursor: pointer;
}

.media_img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: unset;
}

.slider :global(.slider_pagination__dot__medium) {
  height: 6px;
  width: 6px;
  background-color: #a1a3a8;
  border-radius: 16px;
  margin-left: 8px;
}

.slider :global(.slider_pagination__dot__current) {
  height: 8px;
  width: 8px;
  background-color: #a1a3a8;
  border-radius: 50%;
  margin-left: 8px;
}

.slider :global(.headline__next-button-selector),
.slider :global(.headline__prev-button-selector) {
  position: absolute;
  bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  border: 1px solid #c0c2c5;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}

.slider :global(.headline__next-button-selector) {
  right: 68px;
}

.slider :global(.headline__prev-button-selector) {
  right: 32px;
}

.swiper_btn_icon {
  position: relative;
  width: 20px;
  height: 20px;
  fill: #3f4064;
}

@media screen and (min-width: 1024px) {
  .slider {
    max-width: 664px;
  }

  .slider :global(.headline_swiper-pagination) {
    position: absolute;
    left: auto;
    bottom: 16px;
    right: 67px;
    opacity: 0.9;
    transform: translateX(50%);
    z-index: 2;
  }
}

@media screen and (max-width: 1024px) {
  .content_container {
    max-width: 768px;
  }

  .content {
    max-width: 640px;
    flex-direction: column-reverse;
  }

  .side_panel {
    padding: 16px 16px 20px;
  }

  .side_panel_title {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .side_panel_description {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .side_panel_option {
    font-size: 12px;
  }

  .slider :global(.headline_swiper-pagination) {
    position: absolute;
    left: 20px;
    bottom: 8px;
    opacity: 0.9;
    z-index: 2;
  }

  .slider :global(.headline__next-button-selector),
  .slider :global(.headline__prev-button-selector) {
    display: none !important;
  }
}

@media screen and (max-width: 360px) {
  .side_panel_title {
    font-size: 14.4px;
  }

  .side_panel_description,
  .side_panel_option {
    font-size: 9.6;
  }

  .side_panel_action_link {
    font-size: 11.2px;
  }
}
