.seller_list_item {
  min-width: 240px;
  padding: 0 16px;
  border-radius: 8px;
}

.seller_list_item_odd {
  background-color: #f7f7f8;
}

.seller_list_infos {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  flex-grow: 1;
}

.digikala_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  background-color: #ef4056;
  margin-top: 4px;
  border-radius: 50%;
}

.seller_list_properties {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 0;
  cursor: pointer;
}

.digikala_icon_badge {
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

.seller_info_store_icon {
  width: 24px;
  height: 24px;
  fill: #424750;
}

.seller_icon_badge_container {
  display: flex;
  position: absolute;
  width: 16px;
  bottom: -5px;
  left: -4px;
  border-radius: 50%;
  background-color: #fff;
}

.digikala_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  background-color: #ef4056;
  margin-top: 4px;
  border-radius: 50%;
}

.digikala_icon_badge {
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

.seller_icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: normal;
  color: #424750;
}

.seller_list_title_container {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.seller_list_title {
  font-size: 15px;
  font-weight: 700;
  line-height: 2.15;
  margin-left: 8px;
  color: #3f4064;
}

.seller_badge_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  margin-left: 8px;
  border-radius: 50px;
  max-height: 19px;
}

.is_trusted_badge {
  color: #00a049;
  background-color: rgba(0, 160, 73, 0.1);
}

.is_trusted_icon {
  width: 16px;
  height: 16px;
  fill: #00a049;
}

.is_official_badge {
  color: #0081b9;
  background-color: rgba(0, 129, 185, 0.1);
}

.is_official_icon {
  width: 16px;
  height: 16px;
  fill: #0081b9;
}

.seller_badge {
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
  height: 22px;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0 8px;
}

.seller_badge_text {
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
}

.seller_variant_statistics_container {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
}

.seller_variant_statistics_totalRate {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  margin-left: 4px;
}

.seller_variant_statistics_text {
  color: #81858b;
  white-space: nowrap;
}

.seller_variant_statistics_text::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e0e0e2;
  width: 1px;
  content: " ";
  height: calc(100% - 10px);
}

.seller_variant_performance {
  margin-left: 4px;
  color: #81858b;
}

.seller_variant_performance_text {
  font-size: 12px;
  font-weight: 700;
  line-height: 2.17;
  white-space: nowrap;
}

.seller_shipment_method {
  margin-right: 12px;
  margin-left: 16px;
}

.seller_shipment_method_description {
  display: flex;
  align-items: center;
  color: #e6123d;
  margin-left: 12px;
  list-style-type: none;
}

.jet_delivery_icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #0c0c0c;
}

.seller_shipment_method_text {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  margin-right: 8px;
  color: #81858b;
}

.seller_warranty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}

.seller_warranty_icon_container {
  display: flex;
  margin-left: 8px;
  color: #3f4064;
}

.seller_warranty_icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: normal;
  color: #0c0c0c;
}

.seller_warranty_title {
  font-size: 15px;
  font-weight: 400;
  line-height: 2.15;
  color: #3f4064;
}

.seller_price_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 380px;
  padding: 16px 0;
}

.seller_price_container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.seller_selling_price_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.seller_selling_price {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  color: #c0c2c5;
  margin-left: 4px;
  text-decoration-line: line-through;
}

.seller_price {
  font-size: 19px;
  font-weight: 700;
  line-height: 2.1;
  margin-left: 4px;
  color: #23254e;
}

.seller_price_icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  font-weight: normal;
  color: #424750;
}

.seller_discount_price_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  width: 34px;
  padding: 0 4px;
  color: #fff;
  background-color: #d32f2f;
  border-radius: 16px;
  margin-right: 4px;
}

.seller_discount_price {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
}

.plus_box_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 8px;
  margin-top: 12px;
  margin-right: 40px;
  padding: 4px 8px;
  background: linear-gradient(
    270deg,
    rgba(215, 168, 204, 0.2),
    hsla(0, 0%, 100%, 0)
  );
  background-size: 430px auto;
  background-repeat: no-repeat;
  background-position: 100%;
}

.plus_box_title_container {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  margin-left: 16px;
  color: #b12ba4;
}

.plus_icon_container {
  display: flex;
  margin-left: 4px;
}

.plus_icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #b12ba4;
}

.plus_box_text {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
  color: #81858b;
}

.add_to_cart_btn_container {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

.gift_icon_container {
  display: flex;
  margin-right: 4px;
}

.gift_icon {
  width: 14px;
  height: 14px;
  fill: #e6123d;
}

.gift_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
  color: #e6123d;
}

.quantity_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  width: 102px;
  max-width: 102px;
  min-height: 44px;
  max-height: 44px;
  color: #ef4056;
  background-color: #fff;
  padding: 0 8px;
  z-index: 1;
}
