.content {
  width: 100%;
  max-width: 1336px;
  padding: 0 16px;
  margin: 0 auto;
}

.promotional_products_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1336px;
  background-color: #fff;
  border: 1px solid #e0e0e2;
  border-radius: 16px;
  margin: 24px auto 0;
}

.promotional_products_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 16px 0;
  margin-bottom: 8px;
}

.promotional_products_icon {
  width: 24px;
  height: 24px;
  fill: #ef4056;
}

.promotional_products_items {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

@media screen and (max-width: 1336) {
  .content {
    padding: 0 16px;
  }
}

@media screen and (max-width: 1280px) {
  .promotional_products_items {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 0 16px;
  }

  .promotional_products_container {
    border: none;
  }

  .promotional_products_title {
    padding: 12px 0;
  }

  .promotional_products_items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
