.modal_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #fff;
  max-width: 100vw;
  width: 460px;
  border-radius: 8px;
  padding-top: 58px;
}

.modal_header_container {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 8px;
  z-index: 1;
}

.modal_header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e0e0e2;
}

.modal_title_container {
  padding: 12px 0;
  overflow-wrap: break-word;
  flex-grow: 1;
}

.modal_title {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 700;
  line-height: 2.1;
  color: #0c0c0c;
}

.modal_close_btn {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #424750;
  font-weight: normal;
  cursor: pointer;
}

.modal_content_wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px 20px;
  overflow-y: auto;
}

.modal_content_identitiy_type {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.15;
  color: #0c0c0c;
}

.modal_content_identitiy_text {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  color: #62666d;
}

.modal_content_identitiy_name {
  font-weight: 700;
}

.input_label {
  display: flex;
  align-items: flex-start;
  padding: 12px 0;
}

.modal_content_identitiy_radio {
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.modal_radio_btn {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: normal;
  cursor: pointer;
}

.modal_checked_radio_btn {
  background-color: #1672dd;
  color: #fff;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .modal_title,
  .modal_content_identitiy_type {
    font-size: 11px;
  }

  .modal_content_identitiy_text {
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .modal_layout {
    padding-top: 48px;
  }

  .modal_title {
    font-size: 11.2px;
  }

  .modal_content_identitiy_type {
    font-size: 9.6px;
  }

  .modal_content_identitiy_text {
    font-size: 8px;
  }
}
