.breadcrumb_link {
  display: inherit;
  color: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.breadcrumb_link_text {
  font-size: 14px;
  line-height: 2.15;
}

.divider {
  width: 12px;
  height: 12px;
  font-size: 12px;
  font-weight: normal;
  color: #424750;
  text-decoration: none !important;
}

@media screen and (max-width: 360px) {
  .breadcrumb_link_text {
    font-size: 9.6px !important;
  }
}
