.content {
  margin-top: 64px;
}

.title {
  font-size: 19px;
  font-weight: 700;
  line-height: 2.1;
}

.subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  color: #3f4064;
  margin: 16px 0;
}

.input_wrapper,
.input_group {
  position: relative;
}

.input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #c1c1c1;
  background-color: transparent !important;
  padding: 0 12px;
  text-align: right;
  direction: rtl;
}

.input:focus {
  border: 2px solid #333333;
}

.label {
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  pointer-events: none;
  transition: 0.2s ease;
  color: #848484;
  background-color: #fff;
  padding: 0 2px;
  margin-bottom: 8px;
  direction: rtl;
}

.input:focus + .label,
.label_filled {
  top: 0 !important;
  color: #1f1f1f !important;
}

.label span {
  color: #ef4056;
}

.visibility_icon {
  display: block;
  width: 24px;
  height: 24px;
}

.password_toggle_btn {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.password_strength_indicator {
  margin: 16px 0;
}

.strength_label {
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
  min-height: 24px;
  margin-bottom: 8px;
}

.medium {
  color: #f9a825;
}

.strong {
  color: #05ba58;
}

.weak {
  color: #d32f2f;
}

.strength_line.active.weak {
  background-color: #d32f2f;
}

.strength_line.active.medium {
  background-color: #f9a825;
}

.strength_line.active.strong {
  background-color: #05ba58;
}

.strength_lines {
  display: flex;
  gap: 8px;
}

.strength_line {
  flex: 1;
  height: 4px;
  background-color: #e0e0e2;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.password_requirements {
  margin: 16px 16px 16px 0;
  padding: 0;
}

.requirement {
  display: list-item;
  font-size: 11px;
  font-weight: 400;
  line-height: 2.17;
  color: #81858b;
}

.form_group :global(input[type="submit"]:disabled) {
  color: #fff;
  background-color: #e0e0e2;
}

.button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background-color: #ef4056;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.15;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 32px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 16px;
  }

  .subtitle {
    font-size: 11px;
  }

  .label {
    font-size: 12px;
  }

  .strength_label,
  .requirement {
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 12.8px;
  }

  .subtitle {
    font-size: 8.8px;
  }

  .button {
    font-size: 11.2px;
  }

  .label {
    font-size: 9.6px;
  }

  .strength_label,
  .requirement {
    font-size: 8px;
  }
}
