.modal_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #fff;
  max-width: 100vw;
  padding-top: 66px;
  border-radius: 8px;
  overflow-y: auto;
}

.modal_header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 20px;
  border-radius: 8px 8px 0 0;
  z-index: 1;
  height: 66px;
}

.modal_title_container {
  display: flex;
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid #e0e0e2;
}

.modal_title {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.1;
}

.modal_close_btn {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: normal;
  color: #424750;
  cursor: pointer;
}

.modal_content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 0;
}

.modal_content_description {
  white-space: pre-wrap;
  padding: 0 20px 16px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.15;
  color: #0c0c0c;
}

.modal_content_btns_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
  padding: 0 20px;
}

.modal_content_btn {
  position: relative;
  display: flex;
  flex-grow: 0;
  align-items: center;
  font-size: 12px;
  border-radius: 8px;
  height: 40px;
  font-weight: 400;
  line-height: 2.17;
  border: 1px solid #ef4056;
  background-color: transparent;
  color: #ef4056;
  outline: none;
  overflow: hidden;
  padding: 8px 16px;
}

.modal_content_submit_btn {
  color: #fff;
  background-color: #ef4056;
}

@media screen and (max-width: 1024px) {
  .modal_title {
    font-size: 14px;
  }

  .modal_layout {
    padding-top: 62px;
  }

  .modal_header {
    height: 62px;
  }

  .modal_content {
    padding-top: 20px;
    padding-bottom: 12px;
  }

  .modal_title_container {
    padding: 16px 0;
  }

  .modal_content_description {
    font-size: 12px;
  }

  .modal_content_btns_container {
    flex-direction: row-reverse;
    padding: 12px 20px 0;
    box-shadow:
      0 -1px 1px rgba(0, 0, 0, 0.14),
      0 -2px 2px rgba(0, 0, 0, 0.05);
  }

  .modal_content_btn {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .modal_layout {
    padding-top: 57px;
  }
  .modal_header {
    height: 57px;
  }

  .modal_title {
    font-size: 11.2px;
  }

  .modal_content_description,
  .modal_content_btn {
    font-size: 9.6px;
  }
}
