.container {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  padding-bottom: 20px;
  overflow: hidden;
}

.magazine_title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}

.magazine_title {
  font-size: 14px;
  font-weight: 700;
  line-height: 2.1;
  color: #0c0c0c;
}

.magazine_see_more_link {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.17;
  color: #1672dd;
  cursor: pointer;
}

.magazine_icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #1672dd;
  cursor: pointer;
}

.magazine_content {
  display: grid;
  align-items: stretch;
  justify-content: space-between;
  gap: 12px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.magazine_link {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  min-height: unset;
  border: 1px solid #e0e0e2;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 4px;
  overflow: hidden;
}

.magazine_text {
  width: 100%;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.17;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #0c0c0c;
  overflow: hidden;
  padding: 0 16px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.magazine_img_container {
  line-height: 0;
}

.magazine_img {
  width: 100%;
  display: inline-block;
  object-fit: cover;
  aspect-ratio: 610 / 380;
}

@media screen and (max-width: 1024px) {
  .magazine_content {
    padding: 0 20px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .magazine_link {
    min-width: 300px;
    min-height: 320px;
  }
}

@media screen and (max-width: 360px) {
  .magazine_title {
    font-size: 11.2px;
  }

  .magazine_see_more_link {
    font-size: 9.6px;
  }

  .magazine_text {
    font-size: 8.8px;
  }
}
